<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Inscription</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>

      
        #head h1
          {
            font-family: 'Crete+Round','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            
          }
          #head p
          {
            text-align: center;
            font-style: italic;
          }
    
          h1
          {
              margin-top: 50px;
              text-align: center;
          }
    
        div
         {
            text-align: center;
         }
    
          footer
         {
            height: 200px;
            background: #2C3E50  ;
            color: white;
            margin-top: 50px;
          }
    
          footer p
          {
            text-align: center;
            padding-top: 150px;
          }
    
        </style>

  </head>
  <body >
    
      <div class="container"> 
          <div id="head">
              <h1><span class="titre">Le nutritioniste</span> </h1>
              <p sytyle="">Le guide d' une bonne alimentation</p>
           </div>
      </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Le nutritioniste</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="../html/index.html#main-image">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../html/index.html#alimentation">Nutrition?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/index.html#fruits">Les fruits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/index.html#maladies">Maladies nutritionnelles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/index.html#conseils">Conseils</a>
                </li>
              </ul>
              <form
               class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

          <div class="container">

          <h1 stye="margin-bottom:50px;">Message de reception</h1>

        

            <h5>Bonjour <span style="color:blue; text-transform: uppercase;"> <%= infos.pseudo  %> </span> 
            Votre préocupation a bien été pris en compte.L'équipe de <span style="font-size: 25px;">Le nutritioniste </span> travail sur votre requète !
              Voici bien les informations que vous avez saisi.
            
            </h5>

            

          
          
        
          <div class="row">
          <div class="col-md-2 col-lg-2"></div>
          <div class="col-md-8 col-lg-8">
          <table class="table">
              
              <tbody>
                <tr>
                  <th scope="row">Nom</th>
                  <td> <%= infos.nom  %></td>
                  
                  
                </tr>
                <tr>
                  <th scope="row">Prenom</th>
                  <td><%= infos.prenom  %></td>
          
                </tr>
                <tr>
                  <th scope="row">Pseudo</th>
                  <td><%= infos.pseudo  %></td>
              
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td> <%= infos.email  %></td>
    
              </tr>
              <tr>
                      <th scope="row">Preocupation</th>
                      <td> <%= infos.message  %></td>
                  </tr>
              
            </table>
          </div>
          <div class="col-md-2 col-lg-2"></div>

          </div>

            <h4>Nous vous remercions pour votre confiance !!!</h4>



          </div>





    
<footer>
  <p>&copy; Tous droits réservés</p>
</footer>

    
    
    <script src="../js/fichier.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>